[Unit]
Description=Archenemy refresh Hyprland defaults
ConditionPathExists=%h/.config/archenemy/ae-cli/ae
ConditionPathIsDirectory=%h/.config/archenemy/installation/defaults/desktop/config/hypr

[Service]
Type=oneshot
ExecStart=%h/.config/archenemy/ae-cli/ae refresh hyprland

[Install]
WantedBy=default.target
